# {{ ansible_managed }}
#
[Upload]
URL = {% if journald_upload_server_ssl %}https://{% else %}http://{% endif %}{{ journald_upload_server }}
{% if journald_upload_server_ssl %}
TrustedCertificateFile = {{ journald_upload_server_ssl_ca_certificate }}
{% endif %}
ServerCertificateFile = {{ journald_upload_client_ssl_cert }}
ServerKeyFile = {{ journald_upload_client_ssl_key }}
